<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello there, <%=@user.username%></h1>


    <h3>We're glad that you're here. But you should know that if you ever want to delete your account, just click the button below</h3>

    <%=button_to 'DELETE', @user, :method => :delete %>


    <div class="form">
    <h1>Enter The Order</h1>



      <%= form_for :order, :url => orders_path, :html => {:method => :post} do |f|%>

      <%= f.label :item %><br>
      <%= f.text_field :item %><br>

      <%= f.submit "Enter" %><br>

      <% end %>

    </div>

  </body>
</html>
